body {
  text-align: center;
  background-color: #111;
}

h1 {
  font-size: 70px;
  color: aliceblue;
}

button {
  font-size: 1.2rem;
  width: 150px;
  height: 50px;
}

#result {
  font-size: 2rem;
  color: aliceblue;
  margin-top: 30px;
}
