body {
  background-color: #1a1a1a;
  color: #eee;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 6rem;
  flex-wrap: nowrap;
  background: linear-gradient(
    to right,
    #e52d27,
    #ff5858,
    #ffbd2f,
    #32cd32,
    #1e90ff,
    #a020f0
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px #ddd;
}

#mainButtons {
  margin-bottom: 20px;
}

button {
  background-color: #343434;
  color: #eee;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

svg {
  width: 150px;
  height: 150px;
}

#svgPlaceHolder svg:nth-child(2) {
  margin: 0 15px;
}

#result svg:nth-child(2) {
  margin: 0 20px;
}

#history-table svg {
  width: 75px;
  height: 75px;
  margin: 0 10px;
}

button:hover {
  background-color: #5e5e5e;
}

@keyframes randomize {
  0% {
    fill: red;
  }

  20% {
    fill: blue;
  }

  40% {
    fill: green;
  }

  60% {
    fill: yellow;
  }

  80% {
    fill: white;
  }

  100% {
    fill: purple;
  }
}

#result svg rect {
  animation: randomize 2s;
}

#history {
  display: none;
  margin-top: 20px;
  height: auto;
}

#history-table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 1.5rem;
}

#history-table th {
  background-color: #666666;
  color: #eee;
  font-weight: 600;
  padding: 10px;
}

#history-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: 700;
}

#history-table tr:nth-child(even) {
  background-color: #555;
}

#history-table tr:nth-child(odd) {
  background-color: #333;
}

#history-table tr:hover {
  background-color: #444;
}

#popUp {
  margin-bottom: -30px;
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background: radial-gradient(
    circle,
    #e52d27,
    #ff5858,
    #ffbd2f,
    #32cd32,
    #1e90ff,
    #a020f0
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-size: 300px;
}

#color-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#topButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-selection button {
  width: 120px;
  height: 80px;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#topButtons button:first-child {
  background-color: #ad0802;
}

#topButtons button:nth-child(2) {
  background-color: #005ab3;
}

#topButtons button:nth-child(3) {
  background-color: #069d06;
}

#botButtons button:first-child {
  background-color: #cc8b00;
}

#botButtons button:nth-child(2) {
  background-color: #aeaaaa;
}

#botButtons button:last-child {
  background-color: #8204d1;
}


#color-selection button:hover,
#color-selection button.active {
  -webkit-filter: brightness(500%);
  -ms-filter: brightness(500%);
  filter: brightness(500%);

  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.11);
}


  


@media (max-width: 900px) {
  body {
    font-size: 60%;
  }
  h1 {
    font-size: 3.6rem;
  }
  button {
    font-size: 0.72rem;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 3px;
  }
  svg {
    width: 90px;
    height: 90px;
  }
  #svgPlaceHolder svg:nth-child(2),
  #result svg:nth-child(2) {
    margin: 0 9px;
  }
  #history-table svg {
    width: 45px;
    height: 45px;
    margin: 0 6px;
  }
  #history-table {
    font-size: 0.9rem;
  }
  #history-table th {
    padding: 6px;
  }
  #history-table td {
    padding-top: 7.2px;
    padding-bottom: 7.2px;
  }
  #popUp {
    font-size: 30px;
    background-size: 180px;
  }
  #color-selection button {
    width: 72px;
    height: 48px;
    font-size: 10.8px;
    padding: 6px;
    border-radius: 3px;
  }
}
