body {
  background-color: #1a1a1a;
  color: #eee;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  flex-wrap: nowrap;
  background: radial-gradient(
    circle,
    #e52d27,
    #ff5858,
    #ffbd2f,
    #32cd32,
    #1e90ff,
    #a020f0
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500px;
  text-shadow: 5px 5px #ddd;
  animation: color-change 20s ease-in-out infinite;
}

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#mainButtons {
  margin-bottom: 20px;
}

button {
  background-color: #343434;
  color: #eee;
  border: none;
  padding: 10px 8px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

svg {
  width: 120px;
  height: 120px;
}

#svgPlaceHolder svg:nth-child(2) {
  margin: 0 15px;
}

#result svg:nth-child(2) {
  margin: 0 20px;
}

#history-table svg {
  width: 75px;
  height: 75px;
  margin: 0 10px;
}

button:hover {
  background-color: #5e5e5e;
}

@keyframes randomize {
  0% {
    fill: red;
  }

  20% {
    fill: blue;
  }

  40% {
    fill: green;
  }

  60% {
    fill: yellow;
  }

  80% {
    fill: white;
  }

  100% {
    fill: purple;
  }
}

#result svg rect {
  animation: randomize 2s;
}

#history {
  display: none;
  margin-top: 20px;
  height: auto;
}

#history-table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 1.5rem;
}

#history-table th {
  background-color: #666666;
  color: #eee;
  font-weight: 600;
  padding: 10px;
}

#history-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: 700;
}

#history-table tr:nth-child(even) {
  background-color: #555;
}

#history-table tr:nth-child(odd) {
  background-color: #333;
}

#history-table tr:hover {
  background-color: #444;
}

#popUp {
  margin-top: -30px;
  margin-bottom: -30px;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  color: transparent;
  background: radial-gradient(
    circle,
    #e52d27,
    #ff5858,
    #ffbd2f,
    #32cd32,
    #1e90ff,
    #a020f0
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-size: 800px;
  animation: color-change 10s ease-in-out infinite;
}

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#color-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#color-selection button {
  color: rgba(0, 0, 0, 0.9);
  width: 120px;
  height: 80px;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

#color-selection div:first-child button:nth-child(1) {
  background-color: #ad0802cc;
}

#color-selection div:first-child button:nth-child(2) {
  background-color: #005ab3ce;
}

#color-selection div:first-child button:nth-child(3) {
  background-color: #069d06da;
}

#color-selection div:last-child button:nth-child(1) {
  background-color: #cc8b00f3;
}

#color-selection div:last-child button:nth-child(2) {
  background-color: #aeaaaae7;
}

#color-selection div:last-child button:nth-child(3) {
  background-color: #8204d1e5;
}

#color-selection button:hover {
  -webkit-filter: brightness(200%);
  -ms-filter: brightness(200%);
  filter: brightness(200%);
}

#color-selection button.active {
  -webkit-filter: brightness(500%);
  -ms-filter: brightness(500%);
  filter: brightness(500%);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media (max-width: 900px) {
  body {
    font-size: 60%;
  }
  h1 {
    font-size: 3.6rem;
  }
  button {
    font-size: 0.72rem;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 3px;
  }
  svg {
    width: 90px;
    height: 90px;
  }
  #svgPlaceHolder svg:nth-child(2),
  #result svg:nth-child(2) {
    margin: 0 9px;
  }
  #history-table svg {
    width: 45px;
    height: 45px;
    margin: 0 6px;
  }
  #history-table {
    font-size: 0.9rem;
  }
  #history-table th {
    padding: 6px;
  }
  #history-table td {
    padding-top: 7.2px;
    padding-bottom: 7.2px;
  }
  #popUp {
    font-size: 30px;
    background-size: 180px;
  }
  #color-selection button {
    width: 72px;
    height: 48px;
    font-size: 10.8px;
    padding: 6px;
    border-radius: 3px;
  }
}
